# MATLAB testing and auxiliary files
*_test*.m
*.asv

# Temporary files
gausslegendrecof.mat
examples/giacomparison_example.mat
unittests/unittests.m
*_processor.m

# Personal files
.harper-dictionary.txt